@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;    
    overflow: hidden;
}

.gradient {
    background: rgb(143,68,217);
    background: linear-gradient(71.17deg, #8F44D9 19.35%, #C92DC9 90.12%);
    height: 100vh;
}

.logo {
    position: absolute;
    width: 200px;
    height: 180px;
    left: 640px;
    top: 50px;
}

.clouds {
    width: 100vw;
    height: auto;
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: white;
    padding: 0.6em;
}

a {
    text-decoration: none;
    color: white;
    
}

u {
    color: #FFA4FF;
}

p {
    padding: 0.4em;
}

.create {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.clicky {
    display: flex;
    width: 396px;
    height: 54px;
    background: #A700D0;
    border-radius: 4px;
    text-align: center;
    justify-content: flex-start;
    align-items: center;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}